<div style="background-color: gainsboro;">
  <div id="title">This is my title: {{ listTitle }}!</div>
  <div id="title">Sum result: {{ sum(nr1, nr2) }}!</div>
  <div *ngFor="let item of listItems; let i = index">
    <ng-container *ngIf="item.sex === sexToShow">
      <div class="item">Name: {{ item.name }}</div>
      <div
        id="age"
        class="item"
        style="font-weight: 200;"
        [ngClass]="getClassForAge(item.age)"
        [ngStyle]="{ 'font-style': getFontStyleByIndex(i) }"
      >
        Age: {{ item.age }}
      </div>
      <hr />
    </ng-container>
  </div>
</div>
