div {
  width: 400px;
  text-align: center;
}

.item {
  color: rebeccapurple;
  text-align: left;
}

#age {
  font-weight: 800;
  text-align: right;
}

.minus18 {
  font-style: italic;
  color: fuchsia;
}

.plus18 {
  font-weight: 900;
  color: blue;
}
