<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <list [listItems]="students" [sexToShow]="sexToShow"></list>

  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Card on tab 2</ion-card-subtitle>
      <ion-card-title>Welcome to the class</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Now that your app has been created, you'll want to start building out
        features and components. Check out some of the resources below for next
        steps.
      </p>
    </ion-card-content>
  </ion-card>

  <div>
    This is my first app!
  </div>
  <ion-button color="primary" routerDirection="back" disabled="true"
    >Primary</ion-button
  >
</ion-content>
